<section id="quotes">
<!-- All your code goes inside this <section> -->

  <h1>RON SWANSON QUOTE OF THE DAY</h1>

  <button ng-click='$ctrl.getQuote()'>Get Swansonized</button>

  <ul ng-show='$ctrl.quote'>
    <li id='ronSwansonQuote'>
      {{$ctrl.quote}}
      <button ng-click="$ctrl.saveQuote()">Save Quote</button>
    </li>
  </ul>

  <h3 ng-click='$ctrl.getSavedQuotes()' ng-hide='$ctrl.savedQuotes'>See All my saved quotes</h3>
  <h3 ng-click='$ctrl.hideSavedQuotes()' ng-show='$ctrl.savedQuotes'>Hide All my saved quotes</h3>

  <div ng-show='$ctrl.savedQuotes'>
    <hr>
    <ul>
      <li ng-repeat='quote in $ctrl.savedQuotes'>
        {{quote.quote}}
      </li>
    </ul>
  </div>

</section>
