<h2>Search For a Movie</h2>


<!-- <form action="/search" method="POST"> -->
  <div>
    <label for="searchEntry">Search for a movie:</label>
    <input class='searchEntry' type="text" name="searchEntry">
  </div>
  <div>
    <input class='search-button' type="submit" value="Search">
  </div>
<!-- </form> -->

<a href='/favorites'>See Your Favorite Movies List</a>

<p class='movie-search-results'></p>
<div class='movie-list'></div>

