body {
  font-family: 'Pirata One', cursive;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 50px;
}

.new-pirate-button {
  font-size: 20px;
}

.edit-button {
  background-image: url(http://www.free-icons-download.net/images/pirate-ship-icon-74164.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 120px;
  height: 45px;
}

.edit {
  margin-left: 25px;
}

.delete-button {
  background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/9626-200.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 120px;
  height: 45px;
  margin-top: 5px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.pirate {
  height: 250px;
  width: 260px;
  margin: 30px 15px;
}

.pirate_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.pirate+.pirate
 {
  margin-left: 50px;
}

